/* цвет основного текста #212121 */
/* цвет адреса #757575 */
/* белый #FFFFFF  */
/* акцент #2196F3 */
/* вторичный цвет фона #F5F4FA; */
/* цвет банера и футера #2F303A */
/* цвет bg-color team #F5F4FA; */
/*outline: 1px solid teal;*/

:root {
    --primary-text-color: rgba(0, 0, 0, 0.8);
    --title-text-color: #212121;
    --accent-color: #2196F3;
    --primary-white-color: #ffffff;
    --adres-color: #757575;
    --secondary-bg-color: #f5f5f5;
    --secondary-bg-team: #F5F4FA;
    --baner-footer-color: #2F303A;
}
    
/* Утиилиты */

*, ::after, ::before {
    box-sizing: border-boxf;
}

h1,h2,h3,h4,h4,h5,h6 {
    margin: 0;
}

.list {
    padding: 0;
    margin: 0;
    list-style: none;
}

.container {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    width: 1170px;
    padding-left: 20px;
    padding-right: 20px;
}

.wraper {
    display: flex;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
    width: 1176px;
}

/* Logo */

.logo {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
    text-decoration: none;

    margin: 0;
    padding-top: 25px;
    padding-bottom: 25px;
}

.logos {
    font-family:'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
    text-decoration: none;
}

.logo-link{
    text-decoration: none;
    margin-right: 90px;
}


.logo:hover {
    color: var(--accent-color);
}

.page-header {
    border-bottom:  1px solid #ECECEC;
}

/* Site nav */

.site-nav {
    display: flex;
}

.site-nav .item+.item {
    margin-left: 50px;
}


.site-nav .link {

    color: var(--title-text-color);

    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    text-decoration: none;

    font-family:'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    }


.site-nav .link:hover{
   color: var(--accent-color);
        }

.link.current {
    color: var(--accent-color);
    }

.link.current:hover {
    color: var(--title-text-color);
}
        

.list {
    padding: 0;
    margin: 0;
    list-style: none;
}
    
/* Auth nav */

.auth-nav {
    display: flex;
    margin-left: auto;
}
    
.auth-nav .item+.item {
    margin-left: 50px;
}

.link-adres{
    display: flex;
    color: var(--title-text-color);
    text-decoration: none;
    font-family:'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    
}

.link-adres::before {
    display: inline-block;
        content: "";
        width: 10px;
        height: 16px;
        margin-right: 10px;
        background-image: url(../img/tel.svg);
        cursor: pointer;
        color: var(--accent-color);
    

}

.fill:hover {
    fill: #212121;
}


.auth-nav .link-adres{
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
}

.link-adres:hover {
    color: var(--accent-color);
}

/*HERO Bunner*/

.hero{
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    height: 600px;
    background-image: linear-gradient( to right, 
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)),
        url(../img/Img\ \(1\).jpg);
    
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: var(--title-text-color);
}

.bunner {
    margin: 0;
}

.herotitle {
    margin: 0;
    font-family:'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    
    color: var(--primary-white-color);

    padding-top: 200px;
    padding-bottom: 40px;
}

/* Button */

.button {
    border-radius: 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    padding: 10px 32px;
    display: inline-block;
    text-decoration: none;

    color: var(--primary-white-color);
    background-color: var(--accent-color);

    font-family:'Roboto';
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
}

.button:hover {
    color: var(--accent-color);
    background-color: var(--primary-white-color);
}

.button.secondary {
    color: var(--accent-color);
    background-color: var(--primary-white-color);
}

/*Герои*/

.section-title {
    margin-top: 94px;
}

.future-list {
    display: flex;
}

.svg {
    display: flex;
    background-color: var(--secondary-bg-team);
    width: 270px;
    height: 120px;
    margin-bottom: 30px;
    align-items: center;
    justify-content: center;
}


.zagolovok {
    font-family:'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color:var(--title-text-color) ;
}

.abzac {
    margin-top: 10px;

    font-family:'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: var(--adres-color);
}

/* .actions {
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
    list-style: none;

} */

/* .buttons {
    color: #AFB1B8;
    background-color: var(--primary-white-color);
    border-radius: 50%;
    width: 206px;
    height: 44px;
}

.buttons:hover{
    color: var(--primary-white-color);
    background-color: var(--accent-color);
}

.button-icon{
    width: 11px;
    height: 11px;
    fill: currentColor;
} */

.actions {
    display: flex;
    justify-content: center;
    list-style: none;
    width: 245px;
    height: 63px;
}

.iconeli {
    border-radius: 50%;
    background-size: 20px;
    width: 44px;
    height: 44px;
    background-repeat: no-repeat;
    background-position: center;
    justify-content: space-between;
    cursor: pointer;
}

.bicon {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icone {
    fill: #AFB1B8;
    width: 20px;
    height: 20px;
    padding: 15px;
}

.icone:hover{
    fill: var(--primary-white-color);
    
}

.iconeli:hover {
    background-color: #2196f3;
}



.future-list > .item {
    flex-basis: calc(100% / 4);
    margin-right: 30px;
    margin-bottom: 94px;

}

.future-list>.item:last-child {
    margin-right: 0;
}

/*Чем мы занимаемся*/

.section-work {
    background-color: var(--primary-white-color);
}

.my-work {
    color: var(--title-text-color);

    font-family:'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;

    margin-bottom: 50px;
}

/*Наша команда*/

.team {
    background-color:var(--secondary-bg-team) ;
}

.our-team {
    font-family:'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    
    padding-top: 94px;
    margin-bottom: 50px;
}

.item > .border {
    text-align: center;
    background-color: var(--primary-white-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
        border-radius: 0px 0px 4px 4px;
}

.zagolovok-border {
    padding-top: 30px;
    padding-bottom: 10px;

    font-family:'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.03em;
}

.abzac-border {
    margin: 0;
    font-family:'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 10px;
    
    color: var(--adres-color);
}

/*Футер*/

.containar-footer {
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    width: 1170px;
    padding-left: 20px;
    padding-right: 20px;
}

.footer {
    background-color: var(--baner-footer-color);
}

.logolink-futer {
    text-decoration: none;
}

.logo-footer {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    color: var(--accent-color);
    text-decoration: none;
}

.logos-footer {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    color: var(--primary-white-color);
    text-decoration: none;
}

.logos-footer:hover {
    color: var(--accent-color);
}

.footer-list{
    margin: 0;
}

.paragraph {
    margin: 0;
    margin-bottom: 20px;
}

.adress {
    text-decoration: none;
    font-family:'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: var(--primary-white-color);

    margin: 0;
    padding-bottom: 9px;
    
}

.adreslist-footer {
    margin: 0;
}

.link-footer {
    text-decoration: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);

    
}

.link-footer:hover {
color: var(--accent-color);
}

/*Portfolio*/


/*Кнопки навигации*/
.ul-button {
    display: flex;
    margin-top: 100px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 56px;
    
}

.button-list {
    margin-right: 30px;
    border-radius: 4px;
    padding: 6px 22px;
    display: inline-block;
    text-decoration: none;
    
    color: var(--title-text-color);
    background-color: var(--secondary-bg-team);
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.03em;
}

.button-list:hover {
    color: var(--primary-white-color);
    background-color:var(--accent-color) ;
}

/*Список товаров и услуг*/

.card-set {
    margin-right: 30px;
    margin-bottom: 30px;
}

.card-set:nth-child(3n) {
     margin-right: 0;
}

.card-set:nth-last-child(-n + 3){
    margin-bottom: 0;
}

.item-portfolio {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 94px;
}



.item-portfolio > .card-set {
    border: 1px solid #EEEEEE;
}

.card-set:hover{
    background: #FFFFFF;
        border: 1px solid #EEEEEE;
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.titl {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 36px;
    letter-spacing: 0.06em;

    color: var(--title-text-color);
}

.benefits {
font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.03em;

    color: var(--adres-color)
}

/*постоянные клиенты*/

.list-best {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin: 0;
    margin-top: 50px ;
    margin-bottom: 94px;
}

.my-client {
    color: var(--title-text-color);
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    
    margin-top: 94px;
}

.iter::before {
    content: "";
    display: block;
    height: 90px;
    background-repeat: no-repeat;
    background-position: center;
}

.iter {
    margin-right: 30px;
    width: 170px;
    height: 90px;
    border: 1px solid #afb1b8;
    box-sizing: border-box;
    border-radius: 4px;
    cursor: pointer;
}

.iter:hover {
    border: 1px solid #2196f3;
}

.iter:nth-child(1)::before {
    background-image: url(../img/Logo\ \(1\).svg);
}

.iter:nth-child(2)::before {
    background-image: url(../img/company.svg);
}

.iter:nth-child(3)::before {
    background-image: url(../img/krug.svg);
}

.iter:nth-child(4)::before {
    background-image: url(../img/foster\ peters.svg);
}


.iter:nth-child(5)::before {
    background-image: url(../img/brend.svg);
}

.iter:nth-child(6)::before {
    background-image: url(../img/kub.svg);
}

.iter:nth-child(6n) {
    margin-right: 0;
}

.span-logo {
    display: none;
}

/*Footers*/

.footer-setion {
    display: block;
    background-color: #2f303a;
}

.accent {
    color: var(--primary-white-color);
}

.accent:hover{
    color: var(--accent-color);
}

.container.container-footer {
    display: flex;
    height: 252px;
    align-items: baseline;
}

.adres-item {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-right: 75px;
    min-width: 231px;
    margin-top: 60px;
}

.social-container {
    display: flex;
    flex-direction: column;
    min-width: 207px;
    margin-right: 102px;
}

.accession {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #ffffff;
    padding-bottom: 20px;
}

.lezt-post {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin: 0;
    margin-bottom: 94px;
}

.iten-one {
    padding-bottom: 9px;
}

.info {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;

    text-decoration: none;
    
    color: rgba(255, 255, 255, 0.6);
}

.info:hover{
    color: var(--accent-color);
}

.links-one {
    display: inline-block;
    width: 50px;
    height: 50px;
    background: rgba(255, 255, 255, 0.1);
    background-image: url(../img/inst\ footer\ \(2\).svg);
    border-radius: 50%;
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}

.links-twit {
    display: inline-block;
    width: 50px;
    height: 50px;
    background: rgba(255, 255, 255, 0.1);
    background-image: url(../img/twitter\ footer\ \(1\).svg);
    border-radius: 50%;
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}

.links-faceb {
    display: inline-block;
    width: 50px;
    height: 50px;
    background: rgba(255, 255, 255, 0.1);
    background-image: url(../img/fb\ foter.svg);
    border-radius: 50%;
    background-size: 13px;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}

.links-link {
    display: inline-block;
    width: 50px;
    height: 50px;
    background: rgba(255, 255, 255, 0.1);
    background-image: url(../img/In\ footer\ \(3\).svg);
    border-radius: 50%;
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}

.links-faceb:hover {
    background-color: #2196f3;
}

.links-one:hover {
    background-color: #2196f3;
}

.links-twit:hover {
    background-color: #2196f3;
}

.links-link:hover {
    background-color: #2196f3;
}

.distance {
    padding-right: 10px;
}